.sidebar {
  width: 20%;
  min-width: fit-content;
  height: 620px;
  padding: 2px;
  background-color: white;
  /* align-self: center; */
  border-radius: 2%;
}

table{
  width: -webkit-fill-available;
}

@media only screen and (max-width: 700px) {
    
    .sidebar{ 
        width:100%;
        margin:30px;
    }
}
@media only screen and (min-width:701px) and (max-width:1024px) {
    
  .sidebar{
      width:50%;
  }
}
